* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_setting_container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.my_profile_box {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #000;
}

.__hrImg[alt='profile_img'] {
  width: 5em;
  height: 5em;
  object-fit: cover;
  margin: 0px 10px;
  border-radius: 50%;
  border: 1px solid rgb(200, 200, 200);
}

.__pfGreet {
  font-family: serif;
}

.Setting_opt_container {
  margin-top: 1em;
  height: calc(100vh - 247px);
  display: flex;
  justify-content: space-between;
}

.setting_opt_left {
  width: 28%;
  height: calc(100vh - 247px);
  padding: 0 .2em;
}

.setting_opt {
  height: 3em;
  margin: 0.5rem 0 1em;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgb(203, 203, 203);
  font-size: 16px;
  padding: .7em 1em;
  text-wrap: wrap;
}

.setting_opt_active {
  height: 3em;
  background-color: black;
  color: white;
  margin: 0.5rem 0 1em;
  border-radius: 5px;
  border: 1px solid rgb(119, 172, 188);
  font-size: 16px;
  padding: .7em 1em;
}

.setting_opt_active i {
  padding: 3px 10px;
  width: 2rem;
  height: 100%;
}

.setting_opt:hover {
  cursor: pointer;
}

.setting_opt i {
  color: black;
  padding: 3px 10px;
  width: 2rem;
  height: 100%;
}

.setting_opt_right {
  padding: 0 20px;
  width: 70%;
  height: calc(100vh - 247px);
  overflow-y: scroll;
  scrollbar-width: none;
}

/* job preference */

.jobPreferenceSection {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px gray;
}

.jobPreferenceSection h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.jobInput {
  margin-bottom: 15px;
}

.jobInput label {
  display: block;
  margin-bottom: 5px;
}

.jobInput input[type="text"],
.jobInput select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.jobInput label input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.startDates {
  margin-top: 5px;
}

.startDates label {
  display: block;
  margin-bottom: 5px;
}

.doneButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #01378f 0%, #0050D1 100%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20vh;
  transition: 300ms linear;
}

.doneButton:hover {
  transform: scale(1.03);
}

/* Personal Info ----- */
.__personalInfo{
  /* border: 1px solid red; */
  padding: 10em 16em;
}

/* /--------------------------different box design----------------/ */
.__defaultText {
  display: grid;
  place-items: center;
  margin: 25vh auto;
}

.__pfEditBtn,
.__pfLogoutBtn,
.__pfDeleteBtn {
  width: 11em;
  height: 2.6em;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: 300ms linear;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.__pfEditBtn {
  background: linear-gradient(90deg, #01378f 0%, #0050D1 100%);
}

.__pfDeleteBtn {
  background: hsl(345deg 100% 47%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: auto;
}

.__pfLogoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: orange;
}

.__pfEditBtn:hover,
.__pfLogoutBtn:hover,
.__pfDeleteBtn:hover {
  transform: scale(1.03);
}

.__popupDelete {
  border-radius: 10px;
  height: 15em;
  width: 32em;
  background: rgba(255, 255, 255, 0.939);
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.__btnAgree,
.__btnCancel {
  margin: 1em 2em;
  padding: .5em 3em;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.__btnAgree {
  background-color: hsl(122, 100%, 46%);
}

.__btnCancel {
  background: hsl(345deg 100% 47%);
  color: white;
}

/* /-------------------profile design container2-------------/ */
.Profile_cont2 {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px gray;
}

.Profile_cont2_One {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid gray;
  padding: 6px 10px;
  padding: 1em 2em;
  cursor: pointer;
}

.Profile_cont2_One p {
  font-size: 20px;
}

/* /---------------------appearance container-----------------/ */
/* .Appearance {
  padding: 7px;
  line-height: 2.2;
} */

/* /-------------------------notification------------------/ */
.notification {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkboxex {
  display: flex;
  justify-content: space-around;
  gap: 15vw;
  font-size: 20px;
}

.checkbox1 {
  display: flex;
  justify-content: space-evenly;
  gap: 1vw;
  border: 1px solid rgb(226, 224, 224);
  padding: 10px;
}

.click {
  color: blue;
}

/* Dark mode popup styles */
.darkModePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupContent h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.popupContent p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #1e1717;
}

.popupContent div {
  margin-bottom: 10px;
}

.popupContent label {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.popupContent label input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

/* privacy setting */
.privacySettings {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px gray;
}

.privacySettings h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.privacySettings section {
  margin-bottom: 20px;
}

.privacySettings h4 {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

/* support content */
.supportContent {
  padding: 20px;
  border-radius: 10px;
  height: auto;
}

.supportContent p {
  margin-bottom: 1vh;
}

.contactDetails {
  margin-top: 1vh;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
}

.feedbackForm h4 {
  margin-bottom: 10px;
}

.feedbackForm textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 10vw;
}

.feedbackForm button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #01378f 0%, #0050D1 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms linear;
  width: 40vh;
}

.feedbackForm button:hover {
  transform: scale(1.03);
}

.feedbackForm input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.supportContent {
  border: 1px solid black;
  border-radius: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px gray;

}

.supportContent h3 {
  border-bottom: 1px solid grey;
}

.contactDetails h4 {
  border-bottom: 1px solid grey;
}

.supportOptions h4 {
  border-bottom: 1px solid grey;
}

.feedbackForm h4 {
  border-bottom: 1px solid grey;
}

/* Media Queries */
@media (max-width: 768px) {
  .setting_opt_left {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  .setting_opt_right {
    width: 100%;
    height: auto;
  }

  .Setting_opt_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .setting_opt {
    width: 100%;
  }

  .setting_opt_active {
    width: 100%;
  }

  .__popupDelete {
    width: 90%;
    left: 5%;
  }

  .popupContent {
    width: 90%;
  }
}